body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #1a1a1a;
	color: #e6e6e6;
	box-sizing: border-box;
}

header {
	background-color: #1f1f1f;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-bottom: 3px solid #007bff;
}

h1,
h2 {
	margin: 10px;
	color: #e6e6e6;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.hero {
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.carousel {
	width: 100%;
	height: 100%;
	margin: 5px;
	overflow: hidden;
	position: relative;
	background-color: #333;
	border: 2px solid #007bff;
}

.hero-text {
	margin: 20px 20px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hero-text h3 {
	font-size: 2em;
	margin: 20px 0;
	color: #ffd700;
}

.hero-text p {
	width: 80%;
}

.hero-text a {
	width: max-content;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.hero-text a:hover {
	background-color: #0056b3;
}

.about {
	padding: 50px;
	text-align: center;
	background-color: #2a2a2a;
}

.about h3 {
	font-size: 1.8em;
	margin-bottom: 20px;
	color: #ffd700;
}

.about p {
	width: 80%;
	margin: 0 auto;
	color: #ccc;
}

footer {
	background-color: #1f1f1f;
	padding: 10px;
	text-align: center;
	border-top: 3px solid #007bff;
}

/* Carousel image styling */

.carousel img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

.carousel img.active {
	opacity: 1;
}

/* Media Queries for Responsiveness */

@media only screen and (max-width: 768px) {
	/* Adjustments for tablets and mobiles */
	header h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.2em;
	}

	.hero {
		height: 500px;
	}

	.hero-text {
		margin: 0 10px;
	}

	.hero-text h3 {
		font-size: 1.5em;
	}

	.about {
		padding: 20px;
	}

	.carousel img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	/* Adjustments for smaller screens (smartphones) */
	.hero {
		height: 400px;
	}

	.hero-text h3 {
		font-size: 1.2em;
	}

	.hero-text p,
	.about p {
		width: 90%;
	}

	.carousel img {
		max-width: 100%;
	}
}
